services:
  orders_db:
    restart: always
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5436:5432
    volumes:
      - orders_pgdata:/var/lib/postgresql/data

volumes:
  orders_pgdata:
