ENV=local
PAYMENTS_PG_DSN=postgres://postgres:postgres@postgres:5432/payments_db?sslmode=disable
KAFKA_TEST_BROKERS=localhost:9092
KAFKA_BROKERS=kafka_produce:29092
KAFKA_TOPIC_ORDER=order-topic
KAFKA_TOPIC_STATUS=status-topic
KAFKA_EVENT_TYPE=event-status
KAFKA_CONSUMER_GROUP=my-group
KAFKA_SENDER_PERIOD=1s
